@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: local('../fonts/Roboto-Medium') local('Roboto-Medium'),
        url('Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Medium.woff2') format('woff2'),
        url('Roboto-Medium.woff') format('woff'),
        url('Roboto-Medium.ttf') fotmat('truetype'),
        url('Roboto-Medium.svg#Roboto-Medium') format('svg');      
    font-weight: 500; /* normal; */
    font-style: normal;
}